<!DOCTYPE html>
<html lang="pt_BR">
  <head>

    <!--    VIEW PORT  -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--    CSS  -->
    <link rel="stylesheet" href="styles/home.css" />
    <link rel="stylesheet" href="styles/global.css" />

    <!--    FONTES  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;400;700&display=swap"
      rel="stylesheet"
    />

    <!-- ICON-->
    <link rel="icon" type="image/svg" href=" images/Icon.svg">

    <title>Rocket.Q</title>
  </head>
  <body>

    <div class="content" id="home">
        <header>
            <nav>
                <a href="home.html"><img src="images/logo.svg" alt="logotipo Rocket.Q" /></a>
            </nav>
        </header>

        <div id="bg">
            <div class="ball bottom"></div>
            <div class="ball top"></div>
        </div>

        <main>    
            <div class="container">
                <section>
                    <h2 class="title">Crie sua própria sala</h2>
                        <form action="">
                            <label class="sr-only" for="room-pass">Insira uma senha</label>
                            <input
                            type="password"
                            name=""
                            id="room-pass"
                            placeholder="Insira uma senha"
                            />
                            <a href="enter-room.html" class="button">
                                <img src="images/icon-users.svg" alt="Entrar na sala" />
                                Criar Sala
                            </a>
                        </form>
                    </section>
            </div> 
        </main>
    </div>
  </body>
</html>
